<div class="d-flex justify-content-between">
    <button routerLink="/dangky" mat-raised-button color="accent"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        Trở về trang đăng ký</button>
    <mat-form-field appearance="outline">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm" #input>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Ho Column -->
        <ng-container matColumnDef="ho">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ </th>
            <td mat-cell *matCellDef="let row"> {{row.ho}} </td>
        </ng-container>

        <!-- Ten Column -->
        <ng-container matColumnDef="ten">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên </th>
            <td mat-cell *matCellDef="let row"> {{row.ten}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <!-- Sđt Column -->
        <ng-container matColumnDef="sdt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Điện thoại </th>
            <td mat-cell *matCellDef="let row"> {{row.sdt}} </td>
        </ng-container>

        <!-- Kết quả BMI Column -->
        <ng-container matColumnDef="ketquabmi">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Kết quả BMI </th>
            <td mat-cell *matCellDef="let row"> {{row.ketquabmi}} </td>
        </ng-container>

        <!-- Giới tính Column -->
        <ng-container matColumnDef="gioitinh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Giới tính </th>
            <td mat-cell *matCellDef="let row"> {{row.gioitinh}} </td>
        </ng-container>

        <!-- Gói Column -->
        <ng-container matColumnDef="goi">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gói </th>
            <td mat-cell *matCellDef="let row"> {{row.goi}} </td>
        </ng-container>

        <!-- Ngày đến Column -->
        <ng-container matColumnDef="ngay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày đến </th>
            <td mat-cell *matCellDef="let row"> {{row.ngay|date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Thao tác </th>
            <td mat-cell *matCellDef="let row" class="d-flex">
                <button mat-icon-button [routerLink]="['/thongtin',row.id]" routerLinkActive="router-link-active"
                    color="warn"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button mat-icon-button (click)="chinhsua(row.id)" color="accent"><i class="fa fa-pencil"
                        aria-hidden="true"></i></button>
                <button mat-icon-button (click)="xoa(row.id)" color="primary"><i class="fa fa-trash"
                        aria-hidden="true"></i></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu {{input.value}}</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>