<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Đăng nhập</h1>
                </div>
                <form [formGroup]="dangnhapForm" (ngSubmit)="dangnhap()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                        <input formControlName="matkhau" type="password" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </form>
                <a style="color: white; margin-top: 15px;" [routerLink]="['/dangkytaikhoan']"
                    routerLinkActive="router-link-active">Bạn chưa có tài khoản? Đăng
                    ký tại đây</a>
            </div>
        </div>
    </div>
</div>